{% extends "base.html" %}

{% block content %}
<a class="backlink" href="/">Home</a>
<h1>{{ object }}</h1>
<p class="byline">
  Posted by {{ object.author.username }} &mdash; {{ object.published_date }}
</p>
<div class="post-body">
  {{ object.text }}
</div>
<ul class="categories">
  {% for category in object.categories.all %}
    <li>{{ category }}</li>
  {% endfor %}
</ul>
{% endblock %}